.header{
    text-align: center;
    position: sticky;
    color: #accf5d;
}

* {
    font-family: 'Zilla Slab', serif;
}

#header-text2{
    font-size: 3vh;
    letter-spacing: 6px;
    margin-bottom: 5vh;
}

#header-text{
    margin-top: 12vh;
    font-size: 10vh;
    letter-spacing: 10px;
    margin-bottom: 0;
}

#blog-container{
    background-color:#121212;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-post{
    width: 60vw;
    margin: 1vw;
    background-color: #303030;
    color: white;
    border-radius: 8px;
    outline: 3px solid rgb(186, 186, 186);
}

.blog-post > p{
    margin-bottom: 20px;
    margin-left: 20px;
}

.blog-post > h2{
    margin-left: 20px;
}

.tab{
    background-color:rgb(186, 186, 186);
    height: 20px;
}

line {
    filter: drop-shadow(0px 0px 4px red)
}

circle {
    filter: drop-shadow(0px 0px 4px red)
}
