body {
  margin: 0;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #303030;
  width: 100vw;
  height: 4rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.search-bar__form {
  display: flex;
  align-items: center;

  background-color: white;
  width: clamp(20rem, 50vw, 50rem);
  height: 3rem;
  border-radius: 0.5rem;
}
.search-bar__input {
  all: unset;
  height: 100%;
  flex-grow: 1;

  padding: 0 1rem;
}
.search-bar__submit-btn {
  all: unset;

  background-image: url("assets/magnifying-glass.svg");
  background-size: contain;
  cursor: pointer;
  height: 50%;
  aspect-ratio: 1;

  margin-right: 1rem;
}

.header {
  text-align: center;
  color: #accf5d;
}

* {
  font-family: "Zilla Slab", serif;
}

#header-text2 {
  font-size: 3vh;
  letter-spacing: 6px;
  margin-bottom: 5vh;
}

#header-text {
  margin-top: 12vh;
  font-size: 10vh;
  letter-spacing: 10px;
  margin-bottom: 0;
}

#blog-container {
  background-color: #121212;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-post {
  width: 60vw;
  margin: 1vw;
  background-color: #303030;
  color: white;
  border-radius: 8px;
  outline: 3px solid rgb(186, 186, 186);
}

.blog-post > p {
  margin-bottom: 20px;
  margin-left: 20px;
}

.blog-post > h2 {
  margin-left: 20px;
}

.tab {
  background-color: rgb(186, 186, 186);
  height: 20px;
}

.button {
  color: #accf5d;
  background-color: transparent;
  outline: 5px solid #accf5d;
  border-radius: 0.23rem;
  filter: drop-shadow(0px 0px 2px #accf5d)
}

#profile-button{
  position: absolute;
  left: 0;
  margin-left: 2.5rem;
  height: 2rem;
  width: 7rem;
  font-size: 1.2rem;
  visibility: hidden;
}

#login-button{
  position: absolute;
  right: 0;
  margin-right: 2.5rem;
  height: 2rem;
  width: 7rem;
  font-size: 1.2rem;
}

#profile-popup-body{
  visibility: hidden;
  background-color: #dae2ca;
  left: 1rem;
  top: 5rem;
  position: absolute;
  outline: 0.3rem solid #accf5d;
  background-color: #303030;
  border-radius: 5px;
  text-align: center;
}

.user-info{
  color: white;
}

.info-label{
  color: #accf5d;
}

#profile-popup-body > h1 {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#login-popup-body{
  visibility: hidden;
  background-color: #303030;
  border-radius: 5px;
  right: 1rem;
  top: 5rem;
  position: absolute;
  outline: 0.3rem solid #accf5d;
  justify-content: center;
}

.input{
  border: transparent;
  background-color: #dae2ca;
  height: 1.5rem;
  border-radius: 0.3rem;
}

#login-form{
  text-align: center;
  padding: 3rem;
  font-size: 1.3rem;
  color: #accf5d;
}

line {
  filter: drop-shadow(0px 0px 4px #accf5d);
}

circle {
  filter: drop-shadow(0px 0px 4px #accf5d);
}
